body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.apply-flex{
    display: flex;
    margin-bottom: 50px;
}
h1 {
    font-size: 50px;
}
.head{
    padding: 120px;
    width: 50%;
    height: 650px;
    box-sizing: border-box;
}
.head img {
    width: 75%;
}
.headline{
    padding-left: 10px;
    border-left: 7px solid #E7717D;
}
.diff-color{
    color: #F13C1F;
}
.button{
    text-decoration: none;
    background-color: #FF8B5A;
    color: black;
    font-size: 20px;
    font-weight: 900;
    padding: 15px 40px;
    border-radius: 5px;
}

/* section 1 end */

.three-box{
    width: 33%;
    box-sizing: border-box;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
}
.extra-margin{
    margin: 0px 100px 30px 100px;
}
.logo{
    width: 33%;
    margin: 0;
}
h3{
    font-size: 25px;
    font-weight: 900;
    margin: 0;
}

/* section 2 end */

.one-third{
    width: 40%;
    padding: 20px;
}
.two-third{
    width: 60%;
    padding: 55px;
}
h2 {
    font-size: 35px;
    font-weight: 900;
}
.bgimage{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: 20px;
    background-position-y: 90px;

} 
.justify{
    text-align: justify;
}

/* 3rd section end */

.bgimage2{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: 1080px;
    background-position-y: 150px;
}

/* 4rt section end! Wow power of css! */

.contact{
    width: 100%;
    height: 500px;
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 150px;
    padding-top: 40px;
    color: white;
    background-color: black;
    text-align: center;
}
.no-margin{
    margin: 0;
    padding: 0;
}
